body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0a1f44;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    color: white;
    overflow-y: auto; /* Permite rolagem */
}